[2015-08-14 21:17] hyouuu opened #5 "Show picture animation flickers"
Thanks for the component! When i call showFrom() it flickers badly, and seems to be caused by collectionView.transform parts - have you experienced similar issues?

[2015-08-15 13:02] JanGorman commented on #5
@hyouuu are you opening a single image or a collection of images? If you could give some sample code to reproduce that'd be much appreciated. Thanks!

[2015-08-15 13:06] hyouuu commented on #5
Hi Jan I was just opening a single image, but a collection shows the same effect. The sample code is just straightforward from the instruction:
let agrume = Agrume(image: image)
agrume.showFrom(self)

And it has the same effect on iOS 8.4 simulator and iOS 9 beta 5 on device. Haven't you seen similar issues? It was built on Xcode 6.4

[2015-09-13 10:40] liurenqiu520 opened #6 "<UIVisualEffectView 0x14f56e140> is being asked to animate its opacity. This will cause the effect to appear broken until opacity returns to 1."
<UIVisualEffectView 0x14f56e140> is being asked to animate its opacity. This will cause the effect to appear broken until opacity returns to 1.

[2015-10-13 21:57] hyouuu commented on #5
Not sure if you are still maintaining this, but if so I've found the cause of the issue - we should set the alpha to 0 before calling presentViewController.

A proposed updated showFrom function:

public func showFrom(viewController: UIViewController) {
    backgroundSnapshot = UIApplication.sharedApplication().delegate?.window??.rootViewController?.view.snapshot()

    view.userInteractionEnabled

[2015-10-14 08:34] JanGorman commented on #5
@hyouuu Thanks for the update; still maintaining, just wasn't able to follow along what you meant at the time. Could you do a fork and open a pull request please then with your suggested change and I can merge it in.

[2015-10-14 09:09] hyouuu commented on #5
Sorry it's kind of hard to describe, and I put more detail in the pull request: https://github.com/JanGorman/Agrume/pull/7

[2015-10-19 12:50] JanGorman commented on #5
Fixed with #7

[2015-10-19 12:50] #5 closed

[2015-11-18 04:16] kenrickvaz opened #8 "Any plans to add captions?"
Firstly thank you very much for such an excellent library! Absolutely love it!

Do you have plans to add captions for photos?

[2015-11-18 09:44] JanGorman commented on #8
Hi – certainly a good idea, pull requests are always wellcome :trollface: I'll look into it when I have some time.

[2015-12-17 12:03] qx opened #10 "TabBar viewconroller problem"
if you embed navigation conroller into a tabbar, the image show with agrume will present tabbar view, even in a deep navigation stack.

[2015-12-25 11:45] numfirst opened #11 "Bug when rotate device."
Hello! I have found strange behavior. Try to rotate device, when you see one image from multiply images. Thanks.

[2016-02-28 23:17] robhasacamera commented on #11
I'm having a similar issue with device rotation. When rotating the device with multiple images I can lose the image I'm looking at altogether.

[2016-03-19 09:03] itsarjun commented on #6
+1

[2016-03-19 21:50] mcrakhman opened #15 "Proposal to add a data source property to Agrume (provides data to collection view)"
First of all, thanks for the great library! I really enjoy it. To fulfill requirements of my project I made certain small additions to the library which may be useful for the others, though I am not 100% sure of that. That's why I made an issue first, before filing a pull request :smiley:

So my proposal is: to add a protocol, e.g. `AgrumeDataSource` (the property is set upon `init`) which provide

[2016-03-20 16:49] JanGorman commented on #15
Thanks for taking the time to write and your suggestion.

If I understand you correctly, the idea is another initialiser that that doesn't take a fixed set of `image{s|Urls}` but rather passes in a data source, along the lines of:
[code]
And then queries the data source like you've outlined.

The main use case is to enable adding items to the collection view presented by Agrume. I'm open to that,

[2016-03-20 16:57] #6 closed

[2016-03-20 19:08] mcrakhman commented on #15
Thanks for your reply!

Please see my answers below.

I made this protocol a class because that way we can provide a weak reference to it. Thus we can be sure that the `AgrumeDataSource` lifecycle is not affected by `Agrume`. Though on a second thought maybe keeping strong reference is better, so `AgrumeDataSource` is kept alive as long as `Agrume` is (this is better from the user's standpoint). S

[2016-03-26 13:07] JanGorman commented on #15
Resolved with #16

[2016-03-26 13:07] #15 closed

[2016-04-16 15:59] ChrisStayte opened #20 "When navigation controller is set to portrait only the image view will mess that up if rotated when opened"

[2016-04-16 18:09] JanGorman commented on #20
Thanks for the report. Could you share a screenshot what you mean by messed up? Just to be sure we're referring to the same thing – I see what you mean on the simulator since it does that forced last rotation thing when you open the view again but on a real device it works fine.

Could you also just verify your case on a  device and let me know.

Thanks!

[2016-04-16 18:09] #11 closed

[2016-04-16 18:30] ChrisStayte commented on #20
I am running this on an iPhone 6s plus 128 gb space grey. I have attached a link to a video recording of my iPhone screen so you can view the error. What I am doing is first tapping on the photo which brings up the image in portrait mode. This works great. While the photo is still being presented I rotate my phone and the image rotates great. Then as you can see I dismiss the photo and then I rota

[2016-04-16 18:33] JanGorman commented on #20
Thanks so much, that makes it much clearer! I got the same effect on the simulator but not on the device – I'll play around some more and try to reproduce (and of course come up with a fix).

[2016-04-16 18:40] ChrisStayte commented on #20
Thank you! :)

Sent from my iPhone

[2016-04-17 14:55] JanGorman commented on #20
Could you test out this branch https://github.com/JanGorman/Agrume/tree/fix-rotation in your project and let me know if that fixes the issue for you?

[2016-04-17 15:25] ChrisStayte commented on #20
Am I able to pull that using my pod file or do I have to copy it manually?

[2016-04-17 15:28] JanGorman commented on #20
You can reference the branch in your Podfile:

`pod 'Agrume', :git => 'git@github.com:JanGorman/Agrume.git', :branch => 'fix-rotation'`

[2016-04-17 15:30] ChrisStayte commented on #20
Thanks, this did fix the issue :)

[2016-04-17 15:31] JanGorman commented on #20
💃 Cool – then I'll merge this back and push a new release. Thanks for all your help getting this resolved

[2016-04-17 15:31] ChrisStayte commented on #20
Thank you for the quick reply and the quick fix. You are a life saver :)

[2016-04-17 15:34] #20 closed

[2016-05-13 18:49] geekyfox90 opened #21 "minimum deployment target issue"
Suddenly I'm getting an error

it must to have a problem with the last version of Cocoapods 1.0.0 released may 10th

[2016-05-14 17:06] JanGorman commented on #21
Hi,

I bumped it to 8.3 with this [commit](https://github.com/JanGorman/Agrume/commit/8b42b0a4fca0ae0048931f5503b6ea2efbd043ee) – glancing over it right now I can't remember why. I won't have time before Tuesday to look into it but I'll get back to you.

[2016-05-14 17:14] geekyfox90 commented on #21
Hi, thanks for your answer, it would be great to get it back to 8.0

Thanks

[2016-05-15 07:23] JanGorman commented on #21
Fixed with [b0011b7](https://github.com/JanGorman/Agrume/commit/b0011b78439078dd27e02a53406f83bc9eef6f9c) – the Xcode project itself was still set to 8.0 so no idea what I was thinking. Let me know if it works fine for you.

Thanks!

[2016-05-17 14:03] #21 closed

[2016-05-19 13:22] geekyfox90 commented on #21
Sorry for late response ! it works perfectly, thanks again

[2016-05-19 13:23] JanGorman commented on #21
👏 glad to hear it, thanks for raising the issue

[2016-06-14 20:16] gunnarblom opened #23 "Argume view controller not deallocated"
The only code I have is:

[code]

And when showing the image, the memory increases 100mb. But when I dismiss it it doesn't give back the memory. When debugging, the Argume view controller isn't deallocated (deinit is never run).

I've tried removing delegate/datasource from collection view on dismiss, but it doesn't help. Haven't found the reason.

[2016-06-17 13:45] MHX792 opened #24 "Adding saving functionality"
Great library! Any plans on adding a way to save the images to the library? Maybe on Longpress?

[2016-06-17 13:47] MHX792 opened #25 "Statusbar should be white when viewing images"
I have a black text statusbar, which doesn't look good when an image is viewed with Agrume. Disabling or setting the color would solve this problem.

[2016-06-17 14:05] JanGorman commented on #25
There's the `public var statusBarStyle: UIStatusBarStyle?` property on an `Agrume` instance which was added recently. It's not document yet though but should cover what you need?

[2016-06-17 14:07] JanGorman commented on #24
Yeah, something to consider. I'll think of a flexible way to add custom gesture support

[2016-06-17 14:08] MHX792 commented on #25
Puurrrfect.

[2016-06-17 15:16] #25 closed

[2016-06-19 17:44] JanGorman commented on #23
I've drilled it down to two areas, one being `viewController.presentViewController(self, …)` and the other the call to `collectionView.performBatchUpdates`. No solution yet as none of my tests with `weak`/`unowned` references have been able to resolve this. Will post more if I find something else.

[2016-06-20 01:28] jakecraige commented on #10
Seeing a similar issue, probably the same one, where there's a flicker of a the VC lower in the stack when dismissing.

Tracked it down to [here](https://github.com/JanGorman/Agrume/blob/1792149aeb6bc68da7be5ef5be676f74d0e01158/Agrume/Agrume.swift#L188). It's taking a snapshot of the root view controller, rather than the visible view controller, or the one I passed in.

So if my heiarchy is `UITab

[2016-06-20 06:37] JanGorman commented on #10
Fixed with #26 👏

[2016-06-20 06:37] #10 closed

[2016-06-20 12:30] MHX792 opened #27 "Right / Left swipe should also dismiss the image"
I think this would make the user experience better. Right now the angle is too big for dismissing images. You could add an angle propery between 0 and 90° (mirrored on both swipe direction sides).

[2016-06-20 13:38] #23 closed

[2016-06-20 13:41] JanGorman commented on #23
Xcode 8's memory debugger FTW. Although it did not recognise this as a cycle: The cell's used to display images was passed two closures, one to handle dismissing by tap, the other by flicking the image. And since I passed those in as function references from Agrume itself it retained them. Which came as a bit as a surprise but lesson learnt.

[2016-06-21 09:29] JanGorman commented on #27
Since it's possible to display multiple images, don't you think the left/right swipe to dismiss will interfere with swiping to see other images? PRs welcome however 😉

[2016-07-05 17:01] jakecraige opened #28 "Globally configure download method"
Right now the download method must be configured on a per instance basis, if I want to use Agrume across my app, I'll need to configure this at every location.

It would be great if this could be configured somehow that every instance by default uses that, but could be overridden on a per instance basis.

[2016-07-05 19:00] JanGorman commented on #28
Right, some kind of service locator. I like the idea

[2016-07-10 11:28] #28 closed

[2016-07-10 11:38] JanGorman commented on #28
@jakecraige There's a `AgrumeServiceLocator` that you can use to register a download method – can be overridden on a per instance basis. There's some unit tests that show the usage. Is it what you had in mind?

[2016-07-10 13:59] jakecraige commented on #28
Yep that looks great!

The naming of the method `addDownloadHandler` first made me think it supported multiple download handlers or something, so my only feedback would be to potentially rename that to something like `setDownloadHandler`.

Either way though, thanks for the quick resolution for this!

[2016-07-10 14:09] JanGorman commented on #28
Yeah, makes sense to rename. 👍

[2016-07-24 13:15] MHX792 commented on #24
I added it to `AgrumeCell` like so:
[code]

[2016-07-25 09:05] MHX792 commented on #24
Another more nifty solution is adding a toolbar and an action share button:

[code]

The result:

![simulator screen shot 25 jul 2016 11 05 00](https://cloud.githubusercontent.com/assets/12123471/17096029/b3ec5974-5257-11e6-9926-9f2a1ab52f98.png)

[2016-08-11 23:44] hyouuu opened #29 "Create a swift3 branch to merge PR with the newest syntax with Xcode 8 support"
Hi Jan, I made this swift 3 branch in https://github.com/hyouuu/Agrume/tree/swift3, and would like to merge it into a swift3 branch in your repo - could you create one?

Cheers
Shawn

[2016-08-12 07:57] JanGorman commented on #29
@hyouuu done: https://github.com/JanGorman/Agrume/tree/swift/3.0

[2016-08-19 06:18] #29 closed

[2016-08-22 23:55] broadwaylamb opened #33 "Reusing AgrumeViewController instance"
When used Swift 2.2 I could once initialize a property `agrume` in my view controller so that when I opened Agrume somewhere inside that view controller via `showFrom(_:)` I could access to that property without instantiating a new Agrume view controller. It used to work well until I migrated to Swift 3 and Xcode 8.

Now when I use this scenario weird things happen, Agrume seems to be shown, but i

[2016-08-23 07:48] JanGorman commented on #33
Thanks for reporting this – there's nothing that speaks against having just one instance and re-using that. I will take a look

[2016-09-04 12:15] JanGorman commented on #33
Sorry this took so long. The latest commit to the 3.0 branch fixes the issue.

[2016-09-04 12:15] #33 closed

[2016-09-13 13:22] unittesting0 opened #35 "How to use Agrume Offline with SDWebImage"
How to use Agrume Offline with SDWebImage

[2016-09-13 15:45] JanGorman commented on #35
The README section [Custom Download Handler](https://github.com/JanGorman/Agrume#custom-download-handler) outlines a way. You can set a global handler through `AgrumeServiceLocator.shared.setDownloadHandler` – doesn't matter what library/code you use here as long as it calls the completion with a `UIImage` in it you're good to go.

[2016-09-14 16:44] OmarCaf opened #38 "Xcode8 + Carthage + Agrume 3.0"
** CLEAN FAILED **

The following build commands failed:
	Check dependencies
(1 failure)
** BUILD FAILED **

The following build commands failed:
	Check dependencies
(1 failure)
A shell task (/usr/bin/xcrun xcodebuild -workspace /Users/omarcafini/Documents/Code/Test/Carthage/Checkouts/Agrume/Agrume.xcworkspace -scheme Agrume -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATI

[2016-09-14 18:54] JanGorman commented on #38
Just briefly looked at this: seems like Carthage is building with the incorrect version of Swift here (i.e. not 3.0). And I see support for a `--toolchain` flag was added. But getting rather late here – I can take a closer look tomorrow

[2016-09-15 08:40] OmarCaf commented on #38
I've checked but seems not work...

[2016-09-16 12:20] OmarCaf commented on #38
Last test I did, with ore into for you @JanGorman I hope can help you:

The following build commands failed:
	CompileSwift normal arm64 /Users/omarcafini/Documents/Code/ksenia-user/Carthage/Checkouts/Agrume/AgrumeTests/AgrumeServiceLocatorTests.swift
	CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler
(2 failures)
/Users/omarcafini/Documents/Code/ksenia-user/Carthage/Checkouts/A

[2016-09-16 14:23] HackShitUp opened #39 "Bitcode error Swift 3"
Module compiled with Swift 2.3 cannot be imported in Swift 3.0 in AgrumeServiceLocator.swift

[2016-09-17 06:27] #35 closed

[2016-09-17 08:01] JanGorman commented on #39
Hello,

can you provide a bit more context of what you're trying to achieve? And also how you've installed Agrume, (i.e. Carthage, CocoaPods, directly from source?)

Thanks

[2016-09-17 08:03] HackShitUp commented on #39
Yea, I manually installed Agrume. But I've figured out that a lot of the things that are messing up the code is the conversion to Swift 3.0 and Xcode 8.0 and iOS 10 itself.

[2016-09-17 09:08] JanGorman commented on #38
Can you just verify please that it's building with the correct version of Xcode: What does `xcode-select -p` point to? Previously I had Xcode GM in a separate folder which messed it up. After that it was just a matter of setting a flag to allow building for testing: fixed with 3.0.1.

[2016-09-17 09:09] OmarCaf commented on #38
It's ok with the last commit.

Thank you @JanGorman

[2016-09-17 09:09] #38 closed

[2016-09-20 18:08] neoneye opened #41 "Deterministic progressbar when downloading from url"
Agrume is cool. I like the `agrume.showFrom(self)`. Very simple to use.

When downloading bigger images then it may take a long time to download. Here a progressbar would be nice.

Currently there is an indeterministic spinner. Hard to tell if it's stuck or still downloading.

[2016-09-20 18:29] neoneye commented on #8
Agrume to show captions in top/bottom, such as file size, image resolution, file name. Preferably texts that can be assigned after the image has finished downloaded. The captions can be provided by the server along with the downloaded image.

[2016-09-20 18:42] JanGorman commented on #41
Right, calls for an `NSProgress` and option to toggle between them

[2016-10-14 14:39] mariokovacevic opened #43 "Problem with imageUrls"
There is a problem with an array of image urls. The images are not fetched from the internet on didScroll.

[2016-10-14 15:52] JanGorman commented on #43
Hello,

if you check the included sample app and specifically `MultipleURLsCollectionViewController` you can verify that it works. If you're running iOS9+ could it be that `NSAppTransportSecurity` is blocking loading of resources?

[2016-10-14 16:53] mariokovacevic commented on #43
Here is a modified version of your example. There is a problem with loading image on didScroll. When you press a image on tableview, everything is working fine, but when you swipe it one or two times and if the image is not already downloaded it has a problem downloading it. The loading indicator is vissible and after some time it disappears, but the image is not added on the screen.

`final class

[2016-10-15 07:47] JanGorman commented on #43
It's the app transport security as I suspected. If you're running this code in the example app as you posted it, you'll notice in the console messages like:

[code]

The example doesn't have that setting enabled since the example URLs all are https so no need. What you'll need to do in the sample is edit the Info.plist file to allow arbitrary loads:

<img width="585" alt="screen shot 2016-10-15 at

[2016-10-17 09:32] JanGorman commented on #43
@mariokovacevic Does the ATS change fix your issue? If so I'd close the ticket.

[2016-10-17 18:37] mariokovacevic commented on #43
No, App Transport Security was already added, issue is still there. Open the first image, this is successful, then swipe to next image, you will notice that it is downloading too long and in most cases it can't finish. The loader stops and disappears but there is no image.

[2016-10-17 19:28] JanGorman commented on #43
Ok odd, I didn't have that problem. All images loaded fine. This is going to be a bit hard to debug that way 😅

[2016-10-17 20:36] mariokovacevic commented on #43
I will try to find a solution or workaround when I find enough free time and send you. It's a good library. Thanks

[2016-10-17 20:36] #43 closed

[2016-10-23 20:03] LarsWith opened #45 "Example using AgrumeServiceLocator.shared.setDownloadHandler"
Is there any example using:

[code]

I would like to use [Kingfisher](https://github.com/onevcat/Kingfisher) to download and cache images in a `UICollectionView` slider

[2016-10-24 15:07] JanGorman commented on #45
I have no experience with that library but a look at the wiki page suggests to me something like this should work:

[code]

The download handler is called with the required URL and a completion black that takes the image that you download by some other means.

[2016-10-24 15:11] kiwo12345 commented on #45
@JanGorman this is how I download/cache an image using Kingfisher

[code]

I am just not sure how I should place it in the `AgrumeServiceLocator.shared.setDownloadHandler`

[2016-10-24 15:22] JanGorman commented on #45
Yeah right, that won't work because it doesn't expose the `UIImageView`. But you do have access to the `ImageDownloader` that it uses internally: https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet#use-imagedownloader-to-download-an-image-without-caching

So the snippet that I posted above should do the trick. Take note though that this then doesn't cache and you'd need to handle that yourself.

[2016-10-24 15:53] kiwo12345 commented on #45
@JanGorman big thanks!!

[2016-10-25 06:30] #45 closed

[2016-12-21 18:12] DavidLari opened #48 "Double Tap Zoom Problems"
Hi,
I notice that depending on the image, when I double tap to zoom, sometimes the whole image scrolls off the screen when it zooms in. For example,  a wide image on a device in portrait orientation is one situation.

In looking at the func doubleTap in AgrumeCell.swift to examine the problem, I notice some code computing targetZoom that appears inconsistent and I believe this is the cause of the

[2016-12-21 19:07] DavidLari commented on #48
Here's the code I'm using now and it seems to be working pretty well.

[code]

[2016-12-22 07:21] JanGorman commented on #48
Thanks for reporting. I have some spare time next week to dig into this.

[2016-12-22 09:44] JanGorman commented on #48
@DavidLari p.s. do you have a wide image where you noticed this and that I can use as a sample?

[2016-12-22 12:57] DavidLari commented on #48
Here's a link to a page with a wide image on a free stock photo web site.
https://www.pexels.com/photo/person-standing-on-gray-path-way-near-bicycles-during-night-time-175032/

[2016-12-27 16:01] JanGorman commented on #48
@DavidLari I just pushed `3.0.4`. Could you verify that this fixes the issue for you? Cleaned it up a bit and indeed zooming out to `CGPoint.zero` at a scale of 1 should do the trick. 🤞

[2016-12-27 16:42] DavidLari commented on #48
Just tested it out and looks good. Thanks!

[2016-12-27 18:31] JanGorman commented on #48
Great to hear. Thanks for reporting!

[2016-12-27 18:31] #48 closed

[2017-03-18 08:23] kristokiis opened #49 "Orientation"
Seems when orientated to landscape view does some extra transformation and rotates 180 degrees instead of 90 degress. Picture gets orientated as should, but with weird animation.

[2017-03-29 05:58] #39 closed

[2017-04-24 01:18] Desgard opened #50 "How can I control the size of image"
When I `showFrom`, the image will expand the full screen.
I wanted to customize the size.
How did it?

[2017-04-24 13:29] JanGorman commented on #50
Hi,
it's built for fullscreen viewing. There's no way to customise the size.

[2017-04-28 00:22] nevinjethmalani opened #51 "Flicker after closing the expanded image"
Really love this library! I am having a small issue when closing images. Would love to get your thoughts on what the issue might be.

I get a little flicker after the image I tap is closed. I have included a video here.

The image is in a scrollview.
[Untitled.zip](https://github.com/JanGorman/Agrume/files/963187/Untitled.zip)

[2017-04-28 08:13] JanGorman commented on #51
Thanks for the report! I'm snowed under with work at the moment but I should get a chance to look at it sometime this weekend. I'll keep you posted.

[2017-04-28 17:21] nevinjethmalani commented on #51
Perfect. Thaks a lot! You can download our app here to see where it is happening: http://www.shoplooq.com/

I have also included a video with slowed animations and it shows that the view is expanding outside of the screen and pushing even the content above it up. I have also included screenshots to see what content is being expanded. Hope that helps!
[Archive 3.zip](https://github.com/JanGorman/Ag

[2017-04-29 16:41] agirolami87 commented on #43
Hi,
I have the same problem. I use a collectionview and when I pass the urls of images to Agrume the second image never loads.
This is the code:
`    override func collectionView(_ collectionView: UICollectionView, didSelectItemAt indexPath: IndexPath) {
        let URLs = photos.map { URL(string:$0.photoUrl!) }
        let agrume = Agrume(imageUrls: URLs as! [URL], startIndex: indexPath.row, back

[2017-05-01 08:38] JanGorman commented on #43
@agirolami87 Code looks fine of course – it'd be interesting to see what you see when you put a breakpoint in `ImageDownloader` on line 23 where the optional unwrap of download image data happens. Does it successfully pass that point, can it turn the data into a `UIImage`?

[2017-05-01 08:39] #50 closed

[2017-05-01 09:07] JanGorman commented on #51
I'm having a hard time reproducing this myself but I do suspect that there is an issue with the background snapshot the lib captures to fade out nicely (or blur) when it's dismissing. Would it be possible for you to call the `showFrom` method not only with the viewController it's presenting from but also with the optional `backgroundSnapshotVC` parameter. Set that parameter to the absolute root of

[2017-05-01 17:41] agirolami87 commented on #43
it pass that point and turn the data into a `UIImage` but does't show image.

[2017-05-02 06:05] JanGorman commented on #43
@agirolami87 Can you share the image urls please? I'll try and reproduce

[2017-05-02 17:13] agirolami87 commented on #43
`[”https://firebasestorage.googleapis.com/v0/b/montesole-app-b222c.appspot.com/o/foto%2FMonte%20Caprara%2FMonte%20Caprara%20001.jpg?alt=media&token=4c313da6-c11f-44da-8c65-ad75cc6ee58f”,
”https://firebasestorage.googleapis.com/v0/b/montesole-app-b222c.appspot.com/o/foto%2FMonte%20Caprara%2FMonte%20Caprara%20002.jpg?alt=media&token=38bed215-f7b2-41e4-b132-2c9ea4dae15d”,
”https://firebasestorage.goo

[2017-05-02 17:31] nevinjethmalani commented on #51
That did not fix the issue. If we set it to self, it does the same thing. Here I set it to the rootVC. and below I have set it to self which is the root VC. This code is executed when the button over the image is tapped.

`let agrume = Agrume(image: mainImageForFull, backgroundColor: .black)
        agrume.hideStatusBar = true
        var window :UIWindow = UIApplication.shared.keyWindow!

[2017-05-02 17:38] nevinjethmalani commented on #51
We are using a sticky header for the image view so that is most likely the reason for the issue. Does Agrume adjust any scroll view properties (i.e. offset) or the location of any objects in the view?

[2017-05-04 06:12] JanGorman commented on #51
Sorry for the delay, I'm in the middle of an app release atm so everything is a bit hectic 🙃.

To answer your question, Argue doesn't adjust any scroll view properties and doesn't do anything at all to the controller that's presenting, it only uses it to present from.
If possible, could you comment out line 243 (`backgroundSnapshot = …`) in the `showFrom` method and check if you still see the flic

[2017-05-04 11:51] JanGorman commented on #43
@agirolami87 I was able to reproduce. The issue was that dequeuing cells cancelled previous image downloads. I believe this has to do with the changed cell dequeuing since iOS 10 which prepares multiple cells at once. So the third cell dequeued you don't see yet cancelled the image download of the second one on screen.

[2017-05-04 14:45] nevinjethmalani commented on #51
Completely understand! I just tried commenting out that line and it does not change anything. It looks like it is something else that is getting moved around.

[2017-05-04 16:40] agirolami87 commented on #43
Thanks a lot, now works well!

[2017-05-04 21:52] tomykho commented on #51
+1 same for me

[2017-05-04 21:56] nevinjethmalani commented on #51
Perfect. Glad to know that it is not just me. @tomykho can you give a little more insight on how you are implementing Agrume?

@JanGorman We have other pages being dismissed from that VC and I checked the code in our ViewDidAppear of the VC that we are using Agrume in and I don't think it is anything like that.

[2017-05-17 16:35] nevinjethmalani commented on #51
Hey, I wanted to quickly follow up to see if you were able to reproduce the issue. Let me know if you have any questions.

[2017-05-18 07:48] JanGorman commented on #51
Hey Nevin – I haven't had a chance yet, sorry. But also haven't forgotten about it ;)

[2017-05-21 17:22] JanGorman commented on #51
@nevinjethmalani you mentioned a sticky header on the image view. Are you referring to `sectionHeadersPinToVisibleBounds = true` or something else?

[2017-05-21 19:08] nevinjethmalani commented on #51
No we aren't using a table view or a collection view to create the sticky header. We are doing it in the story board using constraints. It is a little difficult to explain the exact way the constraints are laid out.

If I am not mistaken, when I get rid of the animation in your project, the issue does not exist.

[2017-05-26 05:21] tamoyal commented on #27
i think there could be a single image mode that allows this as in some experiences the user won't expect to be able to see multiple images

[2017-05-26 16:50] tamoyal opened #54 "Why would my uinavigationbar disappear on show?"
My UI navigation bar disappears when the image is shown. It's not hidden, it literally disappears and then when I show the view again it appears but the view jumps since the component is coming back in with no animation. This doesn't happen with a few other libraries I've tried such as https://github.com/hyperoslo/Lightbox and I also looked through your source code to see if it had to do with the

[2017-05-26 17:04] JanGorman commented on #54
Hey,

Thanks for the report. Well… as you say, there's nothing special going with the presentation since it just calls `viewController.present(self, animated: false)` on the controller that's passed in by the `showFrom()` method. Issue #51 also mentions a jumping when you dismiss the image again so they could be related.

Can you share a code snippet of how you're initialising Agrume and presentin

[2017-05-26 17:32] tamoyal commented on #54
I'm not doing anything fancy when showing. Copied and pasted from your example. I'll try to put together a sample project but it may take some time.

[2017-06-05 05:33] tarekabdallah opened #55 "image not loading on certain cases"
Hello while using image datasource, if I swipe left on the first image or right on the last one a loader appears. Even more, whenever I have a picture in the middle and I swipe right everything goes perfectly, then on swiping left twice everything is still working perfectly; however swiping to the left at this point is giving a wrong index and again the
![2picsnotworking](https://cloud.githubuserc

[2017-06-17 05:08] Aaron-zheng opened #58 "How can I cancel the quit animation for the image"
I have tested the basic function in my iPhone6, I think the quit animation need 0.5s to finish, I want to remove the quit animation. May I know how to do it?

[2017-06-17 07:10] JanGorman commented on #58
Hi,

currently there is no such option – you'd want to tap and have it dismissed just by removing the view, no animation whatsoever?

[2017-06-21 02:19] #58 closed

[2017-06-27 20:19] musbaalbaki commented on #51
I have the same issue especially when using backgroundColor or backgroundBlurStyle, agrume change my underneeth tableview scroll offset. It works fine though when not using backgroundColor or backgroundBlurStyle

[2017-06-28 06:31] JanGorman commented on #51
Thanks @musbaalbaki for the info. This kind of reaffirms that I think it's an issue with the screenshot that is captured and used to blur (and is also captured when using a background color). As you can see https://github.com/JanGorman/Agrume/blob/master/Agrume/Agrume.swift#L272 all that the library does is call `viewController.present(…)`.
I wasn't able to reproduce it at the time. Would you be a

[2017-06-30 20:47] nevinjethmalani commented on #51
I believe the scrollview that the image is displayed in scrolls up and down by 20 points when the flicker happens if that helps. @musbaalbaki, is yours in a scrollview?

[2017-07-26 14:50] JoniVR commented on #27
I agree with this, I was wondering why flicking away a single image to the side didn't work. I think the current behavior is great, but when viewing a single image I personally  think it'd be better if the user could also dismiss sideways.

[2017-07-26 14:55] JanGorman commented on #27
Ok. Bumping this in the priorities

[2017-07-30 12:42] #27 closed

[2017-08-09 19:59] walsht opened #59 "Rotation improvement"
When rotating the image the animation is not fluid the image snaps into place... can this be improved?

[2017-08-10 07:12] JanGorman commented on #59
It animates the layout changes alongside `UIViewControllerTransitionCoordinator` but I definitely see what you mean.

[2017-08-26 17:30] SkylerSeamans opened #60 "Question: is it possible to preload the next image when using multiple URLs"
I'd like the next image to already be loaded when the user swipes instead of seeing the Activity Indicator. Is that configurable?

[2017-08-27 13:21] JanGorman commented on #60
That's currently not supported out of the box. What you could do though is pass in a custom `AgrumeDataSource`. That gives you full control over how images are loaded.

[2017-09-13 23:24] walsht opened #61 "LLVM Instrumentation"
Got an invalid binary when pushing to Apple because your framework has "Gather coverage date" checked on your test target. Please update.
https://developer.apple.com/library/content/qa/qa1964/_index.html#//apple_ref/doc/uid/DTS40017675
https://developer.apple.com/library/content/qa/qa1964/_index.html#//apple_ref/doc/uid/DTS40017675-CH1-INSPECT

[2017-09-14 05:30] #61 closed

[2017-09-23 16:53] jethmalani opened #64 "Swift 4 Support"
When do you think you will support swift 4?

[2017-09-23 17:50] JanGorman commented on #64
As of right now, I for some reason forgot to merge my changes on this project 😬

[2017-09-23 17:50] #64 closed

[2017-11-04 01:34] hyouuu opened #65 "Rare crash on index out of bound"
I couldn't reproduce it but there are always a few reports about this crash. Here is my code to use agrume, and I verified the startIdx < imageUrls.count:

[code]

Here is the crash stacktrace:

[code]

Any thoughts on it? Even if the startIdx is out of bound we should do a check before addSubviews - I'll also see if I could make a PR for this

[2017-11-04 15:23] JanGorman commented on #65
Hey there,

Thanks for the report. Indeed nothing obvious in the code stands out. In the specific call the only thing I updated with #66 just now was the incorrect use of `row` vs. `item` in constructing the `IndexPath`. 🤷‍♀️ I'll push a release

[2017-11-04 19:42] hyouuu commented on #65
Haha cool I'll close for now and if in the next version it happens again then re-open. Thanks!

[2017-11-04 19:42] #65 closed

[2017-11-14 03:50] Eric0625 opened #67 "Background does not blur"
When I start the agrume instance, the background is not blurred. Any clue about this? The code is exactly the same as the example

[2017-11-14 10:30] JanGorman commented on #67
Hi @Eric0625 ,

per default it'll use `UIBlurEffectStyle.light` – which on a light background isn't very pronounced, you can change to a dark one with `Agrume(image: …, backgroundBlurStyle: .dark)`

Otherwise if you have a screenshot that'd be helpful if there is an issue.

[2017-11-15 02:32] Eric0625 commented on #67
It worked! Thanks! Here is the screenshot before altering the style, you can see the background is fairly clear.

![screen shot 2017-11-14 at 11 34 23 am](https://user-images.githubusercontent.com/18132007/32815661-1603f08e-c9f0-11e7-99b4-2d4ba85e694c.png)

[2017-12-01 18:58] jmeyers91 opened #68 "Swipe left/right to close with multiple images?"
If I use `Agrume` to display a list of URLs and swipe to the last image, I can't swipe (right to left) again to close it, but if the list only contains a single URL, I can swipe left/right to close the single image. Is there any way to enable this functionality when displaying more than one image?

[2017-12-03 08:38] JanGorman commented on #68
Hi James,

There currently is no such option. If I get you right, you'd want the first/last image of a collection to be dismissible via a swipe to the side?

[2017-12-04 16:11] Mazorati opened #69 "Agrume data source"
Hello!
Is it possible to make
`func image(forIndex index: Int, completion: (UIImage?) -> Void)`
to be
`func image(forIndex index: Int, @escaping completion: (UIImage?) -> Void)`
in order to download image for Agrume?

[2017-12-04 16:15] Mazorati opened #70 "Request cancellation"
How to cancel image download request?

[2017-12-04 16:41] jmeyers91 commented on #68
Yes that's what I was looking for.

[2017-12-04 16:55] JanGorman commented on #68
Ok, I'll see what I can do then :)

[2017-12-04 16:59] JanGorman commented on #69
Yes shouldn't be an issue. Terrible of Swift that it needs to be in the Protocol.

[2017-12-04 17:00] JanGorman commented on #70
Currently there's no built in way unless you take charge of downloading yourself; You'd want it to cancel whenever you switch images for example?

[2017-12-04 17:01] Mazorati opened #71 "Activity indicator for custom download"
It will be nice if activity indicator will be presented with custom download closure.
Thank you!

[2017-12-04 17:05] Mazorati commented on #70
@JanGorman i want to cancel requests on deinit. I can subclass Agrume for deinit...

[2017-12-04 17:05] #70 closed

[2017-12-04 18:06] #69 closed

[2018-01-03 19:43] allaire opened #72 "hideStatusBar not working"
I see there is a `hideStatusBar`, but from my side, it seems like it's not working, since the status bar is still present. Anything I am missing?

[code]

[2018-01-03 19:52] JanGorman commented on #72
Hi,
this should be working, I tried the sample code just to be sure and this is the result I get:
<img width="320" alt="screen shot 2018-01-03 at 20 51 02" src="https://user-images.githubusercontent.com/138166/34537190-f51378aa-f0c7-11e7-8bd9-5dea5d69432c.png">

in your case, what is `topViewController`? I suspect your issue has something to do with that

[2018-01-03 19:57] allaire commented on #72
@JanGorman Thanks for getting back so quickly!

I'm calling Agrume in a custom handler class, so I'm using a custom class method to find the top view controller:

[code]

[2018-01-03 20:11] JanGorman commented on #72
Thanks for sharing – I tried a sample with your code but it still hides the status bar just fine so I'll need to dig a bit deeper. In theory "manually" finding from where to present should not not be needed though.

The library actually does something similar to find out which view to screenshot and then blur: https://github.com/JanGorman/Agrume/blob/0a1d7bbdfa4aff2bbe79ea8b400fd7dc5503cc7c/Agrume

[2018-01-03 20:35] allaire commented on #72
@JanGorman I tried with your code and it's still not working.

I'm in a UINavigationController inside a UITabBarController if it helps

[2018-01-04 06:20] JanGorman commented on #72
@allaire Thanks for the additional info. I'll see if I can replicate it that way.

[2018-01-04 09:47] JanGorman commented on #72
@allaire I think I still need a little more context. What I tried was this: On the sample project that's part of this repository I embedded the root navigation controller in a tab bar controller:

![screen shot 2018-01-04 at 10 45 33](https://user-images.githubusercontent.com/138166/34557982-699f5d6e-f13c-11e7-9dd0-46aa144c7063.png)

And then in the `SingleImageViewController` class added your cod

[2018-01-05 14:11] allaire commented on #72
@JanGorman Finally found why! My project has in the Info.plist the property `View controller-based status bar appearance` set to NO. That's why it's ignoring the setting.

I don't think there's a way to hide the status bar when this setting is set to NO.

Thanks!

[2018-01-05 14:11] #72 closed

[2018-01-05 14:13] JanGorman commented on #72
😅 yes, that makes sense. Glad to hear you found a solution

[2018-02-15 18:33] allaire commented on #59
@JanGorman My app doesn't support rotation, but when I rotate it and open an image via Agrume, the image is out of place. Do you think it would be possible to check if the app support device orientation before listening to orientation change?

[2018-02-16 06:18] JanGorman opened #74 "Don't rotate when the app doesn't support rotation"
See #59

[2018-02-16 06:19] JanGorman commented on #59
@allaire Sounds like the sane thing to do 😄 I created #74 to track this

[2018-02-19 15:09] MobileMon opened #75 "Memory Leaks"
Seeing a massive amount of memory leaks when using Argume in both the example project and my own personal project

In particular they occur when showing an image:     agrume.showFrom(self)

In the example app if I click on "Multiple Images", then click on an image, this will trigger it

[2018-02-19 15:37] JanGorman commented on #75
![screen shot 2018-02-19 at 16 34 15](https://user-images.githubusercontent.com/138166/36385422-cce16514-1592-11e8-8e98-a96c461e921f.png)

I see that it's using memory (as is to be expected) but it's also being released again. I also quickly checked the memory graph debugger but don't see any sign of cycles there.

Can you provide further details that lead you to believe that it is leaking memory?

[2018-02-19 17:09] MobileMon commented on #75
Profile the example app and run the "leaks" program in instruments

Goto "Multiple Images" in the tableview

Click on a image to expand it

See this screenshot:

![screen shot 2018-02-19 at 12 08 59 pm](https://user-images.githubusercontent.com/2768159/36389621-b471159e-156d-11e8-8dd8-2491397bb4bb.png)

[2018-02-20 07:19] #75 closed

[2018-02-20 07:23] JanGorman commented on #75
Thanks for the report. This was so minor that it's not really noticeable in the regular memory view but I was able to reproduce it. The cells use a [UIDynamicAnimator](https://developer.apple.com/documentation/uikit/uidynamicanimator) for the flick to dismiss which looks like it's retaining its `referenceView`. Unfortunately not documented

[2018-02-20 16:04] allaire opened #76 "GIF support?"
It would be nice to support Animated Gifs. Maybe using a UIImage/UIImageView extension to support it? I also stumbled upon https://github.com/kirualex/SwiftyGif

Thanks!

[2018-02-20 16:51] JanGorman commented on #76
Yes agreed. I even wrote my own unpopular library a couple of years ago https://github.com/JanGorman/Zoetrope 😆

I've come across SwiftGif as well, it looks good.

There's a number of features now already in the pipeline which I want to tackle during some vacation days I have next week, gif support just made the list.

[2018-03-13 16:43] Daxito opened #77 "Rotation changes the current Index of the image"
I noticed that when I rotate from Portrait to Landscape say Image at Index 3, landscape shows image at index 2 instead of 3, then I rotate back to Portrait and it now displays the correct image (index 3)

[2018-03-13 17:51] JanGorman commented on #77
Hey thanks for the report – there's an ongoing [refactoring branch](https://github.com/JanGorman/Agrume/tree/the-5.0) and I'll keep an eye out for this bug there but since it switches away from using a UICollectionView under the hood this should be solved by itself. I'll update this ticket once it's merged back

[2018-03-13 20:18] Daxito commented on #77
Thank you @JanGorman !

[2018-03-13 21:05] Daxito opened #78 "Optional UIBlurEffectStyle with default value is inconsistent with one constructor"
I think UIBlurEffectStyle should have a default value of NIL for all Init Signatures instead of .Dark, the reason is that there is one Init constructor with a default value of NIL but then all of the other Init's have a default value of .Dark and it is not consistent.
Also because the default value for backgroundColor? is also NIL for all the constructors.

Thanks

[2018-03-13 21:11] Daxito opened #79 "Add the option to add Custom Buttons like Close and Share"
It would be nice if there was someway of adding custom buttons to the preview image, like an X to close and a button to share the Image (eg Email it)

Thanks!

[2018-03-14 06:10] JanGorman commented on #78
yeah, new version moves to an enum with associated value for the background https://github.com/JanGorman/Agrume/blob/4e015235962d0fbe5ca85549e2c871aff1b47ab7/Agrume/Agrume.swift#L8

[2018-03-26 17:05] musbaalbaki commented on #49
+1

[2018-03-27 12:01] musbaalbaki commented on #77
+1

[2018-03-27 12:01] musbaalbaki commented on #77
Any update on this please?

[2018-03-31 21:07] Valdezmj opened #81 "Issue with v4.0.4, private protection level"
Hi there I am having an issue (76 of them) with the current version.

One of the issues I am running into is,

Has anyone ran into this?

[2018-04-01 08:43] JanGorman commented on #81
Which version of Swift are you using? It would make sense that it's broken on older Swift versions due to the whole `private`/`fileprivate` fun in Swift 3

[2018-04-24 20:54] danipralea opened #82 "Agrume doesn't update UI on the presenter"
Hello and thank you for your work on this.

I am having a problem with my current setup: I have a scroll view with multiple images in a view controller. and a tap gesture on the scroll view itself. That tap brings the Agrume view controller up front and presents the images via urls. That all works good until this point.

But what I need is for the scroll view to also scroll to the viewed image in

[2018-05-07 11:31] murteira opened #84 "I'm Getting 102 issues"
I'm using this pod definition

[code]

But when i build my project i got this error:
![image](https://user-images.githubusercontent.com/338646/39699754-69d65618-51f2-11e8-9b66-05930243e0e8.png)

Any idea?

[2018-05-07 11:47] JanGorman commented on #84
Hi,

which version of Swift are you using? I could see this being an issue with the change in meaning of `fileprivate` in Swift 4.

[2018-05-07 11:48] murteira commented on #84
Swift 4

Com os melhores cumprimentos,
*Filipe Murteira*

--
Programador Freelancer  |  Web.Mobile.Game
Tel: +351 91 786 71 70
Skype: filipe_murteira
https://www.paypal.me/murteira

--
*Projecto em destaque:*
<https://www.assistente-virtual.pt/>

2018-05-07 12:47 GMT+01:00 Jan Gorman <notifications@github.com>:

[2018-05-07 11:55] JanGorman commented on #84
mh… ok, so much for that theory 😬 – are you accessing the `images` array in your own code?

I just tried it with a fresh project to be sure that it's fine. No issues there

[2018-05-07 13:23] UtkuDalmaz opened #85 "Having error after the last update"
I am having this error after the last update

<img width="969" alt="screen shot 2018-05-07 at 16 22 06" src="https://user-images.githubusercontent.com/2130592/39704067-e824da2e-5212-11e8-97c5-595d2e43b9cf.png">

[2018-05-07 14:10] JanGorman commented on #85
Hi there. As it was a major update (going from 4.x to 5.x) I took the liberty of changing the API a little; for your specific case the call would look like this now:
[code]
The background now is an enum with associated value, either of type `blurred(UIBlurEffectStyle)` or `.colored(UIColor)` which simplified the implementation _a lot_ and makes for a cleaner API.

I will write a migration guide in

[2018-05-07 14:52] UtkuDalmaz commented on #85
I am now having this error
`Cannot convert value of type '[URL]' to expected argument type '[UIImage]'`

[2018-05-07 15:00] JanGorman commented on #85
mh yes, I was wondering a bit about the name of the variable in your screenshot. I was certain that the parameter name for multiple URLs was `imageUrls` so didn't ask further. 😄  Anyway, to fix it:
[code]

[2018-05-07 15:02] JanGorman commented on #85
And I see how that part of the README can be confusing. I'll update that

[2018-05-08 12:02] #85 closed

[2018-05-08 12:13] UtkuDalmaz commented on #85
A question man.
Is there any closure handler so I can execute code when image library closed?

[2018-05-10 15:13] #76 closed

[2018-05-10 16:12] allaire commented on #76
@JanGorman Awesome! Just wondering, is there an easy way to use this with a UIImage that was pulled online? I tried this but it didn't work:

[code]

[2018-05-10 16:39] allaire commented on #76
@JanGorman Yes exactly, already passed as a UIImage. Strangely I got it to work by using this lib: https://github.com/swiftgif/SwiftGif

I suppose there still a way to access the GIF source somehow?

[2018-05-10 16:42] allaire commented on #76
@JanGorman Great, I got it to work by keeping the original image data, thanks!

[2018-05-10 16:43] JanGorman commented on #76
That's the library I ended up using was well. And just saw the comment as I was about to write… great! 😃

[2018-05-11 13:42] walsht opened #87 "Animated GIF not animating when tapping on image"
I am setting the gif image like this:
 `setGifImage(UIImage(gifData: data))`
It is animating fine, but when tapping on it
`agrume.show(from:controller)`
it just gives me the image and doesn't animate.

Is this expected?  I would assume it would animate.

[2018-05-11 13:49] JanGorman commented on #87
It should animate, yes. Can you show the line that you use to initialise Agrume? As discussed here #76 yesterday Agrume needs the image passed in as an instance created using the `UIImage(gifName:)` or `UIImage(gifData:)` initialiser or otherwise the gif information is already lost

[2018-05-11 14:36] walsht commented on #87
Here you go, I am using this within a custom UIImageView, so I just get the self.image, do I have to pass in UIImage(gifData: data)?

`    func imageTapped(sender : UITapGestureRecognizer) {
        guard let image = image, let controller = tapToDetailPresentingController else { return }
        let agrume = Agrume(image: image, background: .blurred(.dark))
        agrume.statusBarStyle = .lightCo

[2018-05-11 14:43] walsht commented on #87
I think I got it... using UIImage(gifData:) vs self.image works.  Thanks.

[2018-05-11 14:43] #87 closed

[2018-05-11 14:45] JanGorman commented on #87
Great! If you have any suggestions for improving documentation please don't hesitate to let me know.

[2018-05-11 19:59] walsht commented on #87
I don't have time to make a PR, but this might help.
![screen shot 2018-05-11 at 2 58 32 pm](https://user-images.githubusercontent.com/1455799/39944323-dba699c4-552b-11e8-8171-ccb250b19dbe.png)

[2018-05-18 05:37] #77 closed

[2018-05-21 02:37] mdilaveroglu opened #88 "Custom data source problem"
Hello,

I am trying to use custom data source for loading images from photo library. Here is my data source implementation:

[code]

And I'm using it like this:

[code]

But it falls into an infinite loop in this init function.

[code]

Is this the right way to use Custom Data Source? Or is this a bug with library?
Thank you in advance.

[2018-05-21 05:04] JanGorman commented on #88
Hi – that indeed is a bug then 😣.

[2018-05-21 05:06] #88 closed

[2018-05-21 05:08] JanGorman commented on #88
I just published [5.0.3](https://github.com/JanGorman/Agrume/releases/tag/5.0.3) that fixes the issue. Thanks for reporting!

[2018-05-21 05:51] mdilaveroglu commented on #88
Hey @JanGorman thanks for the fix.
There is one more thing. I tried it after now and noticed something. `dataSource` would not get set even if it is created correctly. Resulting `imageForIndex` method to not get called.

Making the `dataSource` variable strong fixed it for me.

[2018-05-22 14:38] UtkuDalmaz opened #89 "App crashes when scrolling the collectionview"
Hi,

I am using agrume 5.0.2
Agrume makes the app crashes when I scroll down the collectionview.

Here is my code,
[code]

Please investigate

[2018-05-22 14:46] JanGorman commented on #89
Do you have a stack trace to share?

[2018-05-22 16:21] UtkuDalmaz commented on #89
It just says “Terminating due to memory issue” on xcode

Utku Dalmaz (DLMZ)
Tel: +905334373245

LinkedIn: http://tr.linkedin.com/pub/utku-dalmaz/34/773/811
Youtube: http://youtube.com/utkudalmaz
Facebook: http://facebook.com/utkudalmaz
Soundcloud: http://soundcloud.com/utkudalmaz
Skype: utkudalmaz

[2018-05-22 18:55] JanGorman commented on #89
I would need more than that to go on. Out of curiosity, how many images are you displaying there… are they particularly large? Does it still crash when you comment out this code to be sure that the bug is triggered by the library and not your own code

[code]

[2018-05-22 22:47] UtkuDalmaz commented on #89
Sorry The problem was about SDWebImage.

[2018-05-22 22:47] #89 closed

[2018-05-29 17:43] gabdsg opened #90 "AgrumeImage' does not conform to protocol 'Equatable'"
I'm getting this error
Agrume/AgrumeImage.swift:7:15: type 'AgrumeImage' does not conform to protocol 'Equatable'

[2018-05-31 05:26] #90 closed

[2018-06-04 12:59] UtkuDalmaz commented on #59
Any improvement on this?

[2018-06-04 16:57] JanGorman commented on #59
@UtkuDalmaz Fixed with 5.x. I forgot to update the issue status.

[2018-06-04 16:57] #59 closed

[2018-06-04 16:57] JanGorman commented on #74
Fixed with 5.x

[2018-06-04 16:57] #74 closed

[2018-07-02 18:07] Daxito commented on #79
Hey! Just checking if this would be possible, I have dumb users that don't know how to close an image and are expecting an "X" button at the top just like their FaceBook App....

Thanks!

[2018-07-02 18:47] JanGorman commented on #79
Yes, certainly possible. I don't want to make a promise I won't be able to keep but I put on my TODO list now for this coming weekend. 🤞

[2018-07-02 18:49] Daxito commented on #79
@JanGorman Thank you!!!

[2018-07-05 09:50] mdilaveroglu commented on #88
@JanGorman any update on this?

[2018-07-05 10:05] JanGorman commented on #88
Hi,
Sorry I assumed that retaining the `dataSource` yourself was ok (yes, this is the correct approach 😬).

So I see that either a) I need to update the documentation to make that explicit or b) internally wrap the `dataSource` inside of a  "Trampoline" class that's weakly retained. The reason why `dataSource` is weak in the first place, is that if you don't supply a custom one, Agrume will be it'

[2018-07-08 13:16] #79 closed

[2018-07-09 03:54] mdilaveroglu commented on #88
Hey,

I think just updating the documentation kinda breaks the point of having custom data source in the library. Because now, the only way to work with a custom data source is forking and changing the code.

 I am also wondering that if I am the only one using a custom data source 😄.

Anyways thank you for work.

[2018-07-09 05:13] JanGorman commented on #88
Ah sorry, then I missed your point completely. I thought what you were doing is something like

[code]

So retaining the data source in your own class. That should work, no?

[2018-07-09 05:30] mdilaveroglu commented on #88
Yes retaining the data source in my class worked perfectly. Thank you for your help.

[2018-09-06 04:55] hemangshah opened #91 "Type 'AgrumeImage' does not conform to protocol 'Equatable'"
**Problem**:

<img width="1052" alt="screen shot 2018-09-06 at 10 24 12 am" src="https://user-images.githubusercontent.com/3313412/45135833-096fec80-b1bf-11e8-9cef-a582906d5375.png">

**Solution**:

Implementing below function

[code]

V. 5.0.1

If you can update this and release a new version.

[2018-09-06 06:50] JanGorman commented on #91
Which version of Swift are you using? Swift 4.1 introduced synthesized equatable conformance

[2018-09-06 07:08] hemangshah commented on #91
Oh okay! I am using 4.0

[2018-09-06 07:08] #91 closed

[2018-10-06 16:50] Alexookah opened #95 "Delegate for dismiss"
is there a delegate that informs when the argue has been dismissed?

[2018-10-07 08:15] Alexookah commented on #95
This should in documentation useful stuff to know :)

[2018-10-07 08:16] Alexookah commented on #49
+1

[2018-10-07 08:49] JanGorman commented on #49
Interesting. I could see how this was an issue in older versions that were generating orientation change notifications and doing this "manually" but the latest one relies on the system to handle it.

[2018-10-07 08:53] #95 closed

[2018-10-08 08:13] Alexookah opened #96 "landscape iphone X layout issue"
when showing agrume in landscape mode using iphone X.
the image is not shown in center.
![screen shot 2018-10-08 at 11 12 51](https://user-images.githubusercontent.com/9624843/46598007-20ba3680-caeb-11e8-8fbc-cfc886ae4e54.png)

[2018-10-08 08:16] Alexookah commented on #49
the orientation doesnt update correctly when you initialise Agrume on landscape.
(when you rotate the device part of the image is cropped)
(tested on iphone x)

[2018-10-08 10:01] Alexookah opened #97 "Close button with drag feature"
i used the close button and i saw that the drag feature is disabled.
there should be an option to show closebutton with drag feature.

[2018-10-08 10:03] JanGorman commented on #97
Would you like the full drag feature or just e.g. a pull down or up (as that's a quite common pattern)?

[2018-10-09 11:40] accberlin opened #98 "Build Error during cartage update"
Hi,

during carthage update with the newest version of agrume (5.2.1) the command fails with following error message:

[code]

xcodebuild log:

[code]

[2018-10-09 11:48] JanGorman commented on #98
Hi,
The error itself is coming from SwiftLint. Which version do you have installed? `0.27.0` is the one that supports Xcode 10/Swift 4.2.

[2018-10-09 12:49] accberlin commented on #98
Correct, upgrading swiftlint fixed the problem. Thanks :)

[2018-10-09 12:49] #98 closed

[2018-10-19 21:14] hyouuu opened #100 "Page dot indicator"
Currently doesn't seem to support this feature, and I might get time in the future to make it, but wanted to throw it out here first - any thoughts or existing approaches?

[2018-12-02 04:55] hemangshah commented on #100
Like sliding?

[2018-12-02 04:58] hemangshah commented on #97
I was about to open same issue. Currently, we can use either of them:

`Agrume.init(image: image, background: .blurred(.dark), dismissal: .withButton(button))`

**or**

`Agrume.init(image: image, background: .blurred(.dark), dismissal: .withPhysics)`

**Is there any way we can setup both together?**

**Why both**? Some users don't know how to close it so for them a **X** button is require for othe

[2018-12-05 20:21] #97 closed

[2018-12-06 07:04] hemangshah commented on #97
Thanks @JanGorman 🎉

[2018-12-06 12:11] hemangshah commented on #97
Agrume.init(image: image, background: .blurred(.dark), dismissal: .withPhysicsAndButton(button)).show(from: self)

[2019-01-22 09:39] #67 closed

[2019-02-13 06:51] mdilaveroglu commented on #24
+1

[2019-02-23 00:31] rausnitz opened #102 "didScroll cannot be used"
https://github.com/JanGorman/Agrume/blob/58f10628b026fc8bf3e9708589800ee041839835/Agrume/Agrume.swift#L22
`didScroll` is defined but is never actually used in the code base. I've tried using `didScroll` but it never gets called. It looks like it was implemented in a previous version of Agrume but forgotten in version 5.

[2019-02-23 15:44] JanGorman commented on #102
Which would explain #82. Thanks for the report

[2019-02-23 16:48] #82 closed

[2019-02-23 16:48] #102 closed

[2019-03-20 07:29] 10000TB opened #103 "The example does not seem to build ?"

[2019-03-20 08:13] JanGorman commented on #103
![Screenshot 2019-03-20 at 09 12 18](https://user-images.githubusercontent.com/138166/54668905-575f9880-4af0-11e9-90eb-47d8f4411725.png)

Works on my machine™. Which version of Xcode are you using?

[2019-03-22 04:39] 10000TB commented on #103
Version 10.1 (10B61)

[2019-03-22 04:55] 10000TB commented on #103
I figure it might have been due to that I was using Swift 4 and downloaded latest version of `Agrume`, which instead is in 4.2

[2019-03-22 08:41] JanGorman commented on #103
Ok, I hope it's fine now

[2019-03-22 08:41] #103 closed

[2019-04-12 14:51] UtkuDalmaz opened #105 "Having error after swift update"
In ImageDownloader.swift

`Call can throw, but it is not marked with 'try' and the error is not handled
`
![Screen Shot 2019-04-12 at 17 51 07](https://user-images.githubusercontent.com/2130592/56046305-a09bb480-5d4b-11e9-9415-c87b679da90f.png)

How to fix this?

Thanks

[2019-04-14 07:27] chauhan130 commented on #105
@UtkuDalmaz That issue is already fixed on master 5 days back (see @anilgoktas commit https://github.com/JanGorman/Agrume/commit/324e09ac9ae89789c56afb824ba1631c35f91b32).

Use `pod 'Agrume', :git => 'https://github.com/JanGorman/Agrume'` till ge get new release.

[2019-04-15 05:19] JanGorman commented on #105
Just pushed 5.3.1 – Thanks

[2019-04-15 05:19] #105 closed

[2019-04-26 17:03] RobSwish commented on #105
I have just installed the latest version and I get the above issue. Is this correct?

[2019-04-27 06:07] JanGorman commented on #105
@RobSwish I just tested this on a new test project and it correctly pulled 5.3.1:
[code]

Can you try running `pod update Agrume` – as far as I recall this will force an update of the specs repository

[2019-05-07 22:53] sschizas commented on #96
@JanGorman any update on this issue?

[2019-05-08 15:47] psoilemezis commented on #96
@JanGorman same happens on iPhone 8 iOS 12.2

[2019-05-08 16:00] JanGorman commented on #96
Thanks for the push. PRs are always welcome 😬

_Might_ have some time to investigate on the weekend

[2019-05-13 05:26] JanGorman commented on #96
I've done some investigation but no solution yet. But I'm on it

[2019-06-23 05:49] nishan-p opened #110 "Image not loading fully"
I have tried integrating this library but the image is not showing fully. What can be the issue. Please check this screenshot for the screen which i'm receiving after adding this library and when previewing the image [https://www.dropbox.com/s/i8vxmsfy8v4wtf5/ImageNotFull.png?dl=0](url)

[2019-06-23 06:29] JanGorman commented on #110
Sorry to hear you're having issues with the integration. Can you shed some light on what's the expected outcome, it's a bit hard to tell from just the screenshot alone. Is the image off-center, i.e. should it be shifted to the right more? Is it a remote or local image?

[2019-06-23 06:40] nishan-p commented on #110
Yeah it should show the full image, i.e. it should get shifted to more to the right. It should show the full width of the screen.

[2019-06-23 07:39] JanGorman commented on #110
Would it be possible for you to share the image and the code used to display it with me?

[2019-06-23 07:42] nishan-p commented on #110
Image is the default image of the simulator and this is the code`let agrume = Agrume.init(image: image, background: .blurred(.extraLight), dismissal: .withPhysics)
                agrume.show(from: self)`

[2019-06-24 03:39] nishan-p commented on #110
@JanGorman any update on the same ? Is it issue with the frame its setting or is there anything to do with the library itself ?

[2019-06-24 08:08] JanGorman commented on #110
I tried it with the same image:
![Screenshot 2019-06-24 at 10 06 11](https://user-images.githubusercontent.com/138166/60001930-e3d9a400-9667-11e9-8300-82708f636729.png)

That looks fine. Did you try on a bare bones app or is it integrating with an existing one?

[2019-07-02 05:16] JanGorman commented on #110
Closed for lack of activity

[2019-07-02 05:16] #110 closed

[2019-11-21 13:27] Alexookah commented on #96
@JanGorman  anything new?

[2019-11-21 13:33] JanGorman commented on #96
My investigation at the time yielded that while I can reproduce the problem, no good indication as to how it can be fixed in the current setup and then I got distracted 😢 Help welcome

[2019-11-21 13:36] Alexookah commented on #96
Ok sure, could you tell us your investigation results?
some details of where the problem is so that me and other people may take a look

[2019-11-21 19:05] JanGorman commented on #96
Thanks!

Good thing I kept some notes, let's see if I can make sense of them… I launched a sample app and then entered the view debugger, what I noticed:
- UICollectionView bounds have a negative origin
- when you start dragging the image and release it, the imageView jumps to the correct center
- after it's correctly centered, the image frame is slightly smaller and at origin .zero
- the imageVie

[2019-11-25 10:12] Alexookah opened #131 "Background Color of Close button"
Hi, the close button is UIBarButtonItem.
How can the background of the close button change?

Is it possible that we set it clear color ?

[2019-11-25 12:02] Alexookah commented on #131
found my issue
created a pull request for this
https://github.com/JanGorman/Agrume/pull/132

[2019-11-25 12:44] Alexookah commented on #131
changes merged into master nice

[2019-11-25 12:44] #131 closed

[2019-11-25 13:25] Alexookah commented on #96
https://github.com/JanGorman/Agrume/blob/master/Agrume/AgrumeCell.swift#L217
`return UIEdgeInsets(top: verticalDiff, left: horizontalDiff / 2, bottom: verticalDiff, right: horizontalDiff / 2)
`
I changed to / 2 and i tried to open an image is landscape.

![landscape photo](https://user-images.githubusercontent.com/9624843/69544013-84295100-0f97-11ea-8163-fc14ff3ff883.png)

it seems that it initial

[2019-11-25 14:52] JanGorman commented on #96
good point… I only remembered later that I also tweaked some values when testing and came to something similar to what you found. Worth digging further

[2019-11-26 00:40] Alexookah commented on #96
@JanGorman Finally found the issue.
I want to make another PL with my resolution but it seems i have already one ongoing.
Can you take a look https://github.com/JanGorman/Agrume/pull/133

[2019-11-26 00:53] Alexookah commented on #96
i did another PL
@JanGorman
FINALLY found the issue. Eventually after debuging frame's and bounds.
It got me thinking about
"UICollectionView bounds have a negative origin".

it such a simple fix check it out:
https://github.com/JanGorman/Agrume/pull/134

[2019-11-26 01:08] Alexookah opened #135 "Background Issue when rotating"
Check this video:

https://streamable.com/kecrh

when rotating the viewcontroller from back is shown a little bit

[2019-11-26 09:09] Alexookah commented on #135
closing this issue since this fix has been merged in master

[2019-11-26 09:09] #135 closed

[2019-11-26 09:09] Alexookah commented on #96
closing this issue since this fix has been merged in master

[2019-11-26 09:09] #96 closed

[2019-11-26 09:11] Alexookah commented on #49
@JanGorman
This issue should be closed now i think

[2019-11-26 09:18] JanGorman commented on #49
Agreed. Thanks for all your PRs!

[2019-11-26 09:18] #49 closed

[2019-12-05 23:06] Alexookah commented on #68
Using withPhysicsAndButton is possible to dismiss any image from the list of URLS
Close this issue @JanGorman

[2019-12-06 06:14] #68 closed

[2019-12-06 08:20] Alexookah opened #138 "Rotation Issue on Multiple Images"
Check the video which demonstrates the problem in multiple images.

https://streamable.com/aemg1

It seems my solution works nice for a single image, but for more images it's not working properly.

Any idea how to fix this?

[2019-12-09 21:45] Alexookah commented on #138
did a PL https://github.com/JanGorman/Agrume/pull/139
when merged this issue can close.

[2019-12-10 06:14] #138 closed

[2019-12-12 20:56] allaire opened #140 "Animated GIF issue since 5.3.2"
Hi,

We were running Agrume version 5.3.1, but when we upgraded to latest, we noticed that GIFs are not working correctly anymore in our app.

On open, the GIF is out of bounds / not displaying. You can make it appear by just doing a quick gesture on the screen. We pinpointed the regression in 5.3.2.

I think it has to do the use of `UIImage(gifData:)`.

Here's our code sample:

[code]

[2019-12-13 06:20] JanGorman commented on #140
Sorry to hear that you're having issues. I will take a look today

[2019-12-13 15:45] JanGorman commented on #140
I can't make the connection to that release specifically – even if I undo the change made there it does not work. But I have a lead that the imageView's frame is `.zero` initially

[2019-12-13 15:49] allaire commented on #140
@JanGorman Yes exactly, my thoughts exactly about the frame being zero, so it's not centered/displayed. Probably there is less info about the frame in `UIImage` when initiated from `UIImage(gifData:)`

[2019-12-13 15:57] #140 closed

[2019-12-13 15:58] JanGorman commented on #140
Found it. Release on the way. Unsure why this was not an issue before tbh

[2019-12-23 16:51] Alexookah opened #145 "Support for iPad Multi-tasking"
![Simulator Screen Shot - iPad Pro (12 9-inch) (3rd generation) - 2019-12-23 at 18 48 51](https://user-images.githubusercontent.com/9624843/71370022-3a8f4e80-25b5-11ea-958d-602be876c6de.png)

There is an issue when showing any image in multi-tasking.
i tried to change some frames and replace UIScreen.main.screen.bounds but did not really succeed.

any ideas?
It seems that the collectionView has wr

[2019-12-27 13:13] #145 closed

[2020-01-07 20:54] Alexookah commented on #24
https://github.com/JanGorman/Agrume/pull/151
this does something similar with longPressGesture

[2020-01-08 16:22] Alexookah opened #152 "cannot run didScroll correctly. why use backgroundImageView?"
I noticed that in the example for multiple images:
`agrume.didScroll = { [unowned self] index in
  self.collectionView.scrollToItem(at: IndexPath(item: index, section: 0), at: [], animated: false)
}`
does not work because the UIViewController behind Agrume is not really shown.
When using blur a backgroundImageView is taking some snapshot which is between UIViewController and Agrume.
What's the usa

[2020-01-08 17:14] JanGorman commented on #152
IIRC this was a workaround for a bug at the time that it didn't take the correct snapshot and this was a way to pass in the correct view for it to snapshot. This functionality can probably be removed

[2020-01-13 11:56] #60 closed

[2020-01-13 11:58] JanGorman commented on #8
#154 Adds an option for custom overlay views. Internally Agrume uses a wrapper struct that could include a title. Not exposed publicly yet but the plumbing is in place now

[2020-01-13 12:04] Alexookah commented on #152
@JanGorman
https://streamable.com/szwtf
I can see that its not working correctly in presenting mode. I agree this should be removed. Should i make a PL?

[2020-01-13 12:28] JanGorman opened #155 "Document the onLongPress function"

[2020-01-13 12:28] JanGorman opened #156 "Document custom overlay view"

[2020-01-13 12:28] JanGorman opened #157 "Document how to run the sample code"
#151 showed it's unclear. Document how to run swift submodule

[2020-01-13 12:32] JanGorman commented on #24
Solved with #151

[2020-01-13 12:32] #24 closed

[2020-01-13 18:11] #157 closed

[2020-01-13 18:17] #155 closed

[2020-01-13 18:45] #156 closed

[2020-01-14 11:14] Alexookah commented on #152
@JanGorman
I see you did some cleanup. Did you have a chance to check BackgroundImageView if the functionality can be removed eventually.

[2020-01-14 11:53] JanGorman commented on #152
It was only a quick 15 mins of cleanup when I got home yesterday. If you have time to check this further please feel free to do so

[2020-01-14 18:47] JanGorman commented on #152
I'm on it. My earlier statement was about something else, I got the two mixed up. So… reason to have the background image view was back then (I wrote the first version 5 years ago 😅) blurring was a bit of a performance concern but indeed these days not an issue. I'll push something shortly

[2020-01-14 18:54] #152 closed

[2020-01-15 15:29] h0s0n opened #158 "WEBP url is not loading"
I need to use webp images in agrume but the urls of webp are not showing.

[2020-01-15 15:32] JanGorman commented on #158
Yes, it's not a format that Apple supports natively. I'm aware of at least one wrapper library https://github.com/ainame/Swift-WebP though that does not support CocoaPods.
PRs are welcome

[2020-01-16 15:46] Alexookah opened #159 "AgrumeOverlay from examble reusable?"
Hi, The latest release that includes, AgrumeOverlay to pass some custom view as overlay is an awesome feature. Congrats @ryan-w.

I would like to ask if the Example that contains the overlay could be written in some re-usable class. So that other's could use it in just some lines of code.
For example include topLeft, topRight, bottomLeft, bottomRight buttons, show title and maybe also add some dot

[2020-01-16 15:50] Alexookah commented on #51
I dont think this issue any loger exists in the current release.
@JanGorman maybe this issue should be closed and re-open if someone experiences something similar to this?

[2020-01-16 15:56] JanGorman commented on #51
Thanks for raising this. Agreed that this can be closed

[2020-01-16 15:56] #51 closed

[2020-01-16 15:57] Alexookah commented on #51
@JanGorman
I have a feeling this could have been related to my issue:
https://github.com/JanGorman/Agrume/issues/96

[2020-01-16 15:59] Alexookah commented on #54
@JanGorman
this is also a very old issue. I don't think this no longer exists.
Could @tamoyal report if this issue exists in the latest release?

[2020-01-16 16:34] Alexookah commented on #158
@h0s0n you can also a CustomDownloadHandler and use SDWebImage to download images.

[2020-01-17 06:05] #54 closed

[2020-01-19 08:11] #158 closed

[2020-01-27 00:01] #71 closed

[2020-01-27 00:01] #41 closed

[2020-01-27 00:01] #55 closed

[2020-01-28 16:25] sschizas opened #162 "Support Swift packager manager"
Are you planning to support SPM??

[2020-01-28 16:31] JanGorman commented on #162
I've updated a bunch of my projects but haven't gotten around to it on this one yet. I can add it. But of course if this is a high priority for you feel free to open a pull request.

[2020-01-28 23:55] ryan-w opened #163 "Crash when using custom AgrumeDataSource"
Providing a custom data source causes a crash on the following line:

https://github.com/JanGorman/Agrume/blob/13c60342c1d9ae0e64a9e62c83abce512381f654/Agrume/Agrume.swift#L428

Message: "Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value"

The 'images' property is not initialized when using a custom data source. It would be better to remove this line of code as it i

[2020-01-29 06:08] JanGorman commented on #163
Thanks for reporting! Yes, that's a good point. I had my doubts about that line while reviewing and didn't fully think it through. Sorry

[2020-01-29 08:33] #163 closed

[2020-01-29 16:06] ryan-w commented on #163
@JanGorman Thank you.

[2020-02-01 21:01] hyouuu commented on #100
Reopen as this is till a really nice to have feature

[2020-02-01 21:01] hyouuu commented on #100
Mmm seems I can't re-open cc @JanGorman

[2020-02-05 15:54] #162 closed

[2020-02-19 00:02] #8 closed

[2020-02-21 00:02] #159 closed

[2020-03-09 00:02] #100 closed

[2020-04-08 06:05] philCc opened #181 "webP format"
Should support WebP?

[2020-04-08 06:34] JanGorman commented on #181
If you can suggest a library I can look into integrating it. Since I personally have no need to support WebP it's not included :)
Pull requests welcome

[2020-04-08 08:17] philCc commented on #181
I think we can take the picture decoder as a plug-in separately, and integrate one or two picture decoders by default

like the library [Kingfisher](https://github.com/onevcat/Kingfisher)
[code]

https://github.com/SDWebImage/libwebp-Xcode

https://github.com/yeatse/KingfisherWebP

[2020-04-13 09:04] hariprasaad opened #182 "1st image is having issue while loading RTL (Right To Left) support"
The image which is getting loaded as 1st is showing up only in the half screen.
Attaching image for reference.
![Arabic](https://user-images.githubusercontent.com/33032764/79108327-be06c280-7d93-11ea-8127-c4d772675814.png)
![English](https://user-images.githubusercontent.com/33032764/79108373-d5de4680-7d93-11ea-88ec-d553a6cf62a9.png)

[2020-04-16 07:19] JanGorman commented on #182
Thanks for reporting. I'm able to reproduce the bug. I don't have an immediate idea where the issue could lie but will investigate.

[2020-04-19 13:38] #182 closed

[2020-04-19 13:41] JanGorman commented on #182
This was a strange one. It's fixed by wrapping the collection view that Agrume uses into a container view. During presentation the view is "zoomed" in by applying an affine transform and this transform was what broke the display. Transform the container view fixed it https://github.com/JanGorman/Agrume/blob/master/Agrume/Agrume.swift#L304

Some UIKit oddness or bug

[2020-05-14 00:02] #181 closed

[2020-08-15 19:10] hyouuu opened #210 "On MacCatalyst, trying to open Agrume with multiple images result in un-scrollable result"
Besides not being able to scroll, the image also appears left aligned (even if I apply the PR fix below)
I took a look at the code but couldn't easily figure out the cause, so opened the issue instead if anyone has time to investigate. My temporary solution is to only show 1 image at a time and use https://github.com/JanGorman/Agrume/pull/209 to center align the image (only works with a single ima

[2020-09-20 00:09] #210 closed

[2020-10-30 14:14] erikabueno opened #227 "Problem with Agrume on Bitrise's testing step"
I have an app (legacy code) which uses **Agrume 5.3.0**. When I build it on my Xcode and run tests on it, everything works just fine. But when I try to run my workflow on Bitrise, it gives me this error on the testing step:

[code]

All targets of the project use Swift 4 and, inside my Podfile, there is this code:

[code]

Can you help me figure it out?

[2020-10-30 14:29] JanGorman commented on #227
Sorry to hear that. I was just going through the release history and looks like the 5.3 release was the one that switched to Swift 5 (tbh to this day I'm unsure how to deal with Swift version changes, should probably be a major release). Could you give 5.2.5 a try https://github.com/JanGorman/Agrume/tree/5.2.5

[2020-10-30 14:51] erikabueno commented on #227
When I updated the pod and tried to run on my Xcode, I got this:

/Users/user/Desktop/projects/APP-PATH/Pods/Agrume/Agrume/ImageDownloader.swift:23:17: Call can throw, but it is not marked with 'try' and the error is not handled

[2020-10-30 15:00] JanGorman commented on #227
That'll be due to the `SwiftGif` dependency https://github.com/JanGorman/Agrume/blob/5.2.5/Agrume.podspec#L25 – I remember that at some point it changed.

It's not constrained to a specific version so probably it's pulling the latest one. In your own Podfile you can set it to a version that doesn't throw.

I need to leave the house now, otherwise I'd be able to help and figure out which version it

[2020-10-30 15:01] erikabueno commented on #227
Ok, I'll try this and let you know the outputs :) Thanks!

[2020-10-30 19:17] JanGorman commented on #227
Glad to hear 👍

[2020-11-24 07:12] gouravideal opened #234 "Cannot find type 'Agrume' in scope"
![Screenshot 2020-11-24 at 12 38 22 PM](https://user-images.githubusercontent.com/61136324/100060498-a2e45100-2e52-11eb-8055-a3f2724eb08c.png)
i got this crash in agrume.swift

expression produced error: error: /var/folders/yh/2x5wsjps5n1byqbhl95h_rmm0000gn/T/expr30-1e0641..swift:1:65: error: cannot find type 'Agrume' in scope
Swift._DebuggerSupport.stringForPrintObject(Swift.UnsafePointer<Agrume.

[2020-11-24 07:16] #234 closed

[2020-11-24 07:19] gouravideal opened #235 "Cannot find type 'Agrume' in scope"
got this crash in agrume.swift

Printing description of self:
expression produced error: error: /var/folders/yh/2x5wsjps5n1byqbhl95h_rmm0000gn/T/expr30-1e0641..swift:1:65: error: cannot find type 'Agrume' in scope
Swift._DebuggerSupport.stringForPrintObject(Swift.UnsafePointer<Agrume.Agrume>(bitPattern: 0x10d02ca60)!.pointee)

@JanGorman please help me for resolve this crash..
![Screenshot 2020-11

[2020-11-24 07:36] JanGorman commented on #235
If I had to guess, this looks like you're not retaining your Agrume instance. You'll want to create a property in your class to hold on to it. The included Example directory shows how. For example https://github.com/JanGorman/Agrume/blob/master/Example/Agrume%20Example/SingleImageViewController.swift#L10

[2020-11-24 07:54] phil-zZ opened #236 "The horizontal gif preview is not centered"
[code]
![simulator_screenshot_EA1D8B49-DA7F-4ACE-AB5E-9B719FD50423](https://user-images.githubusercontent.com/626401/100064016-f1064e00-2e6c-11eb-809e-1554b0f8b406.png)

[2020-12-01 13:10] gouravideal commented on #235
hi @JanGorman. i will try for this but not working for me. can we use this with [week self]. because its working correctly for me can you suggest me this working properly or not for resolving this crash. if you can change this in directly is best for us.

After change code like this :

        presentingViewController?.dismiss(animated: false) { [weak self] in
            guard let self = self els

[2020-12-04 13:29] gouravideal commented on #235
@JanGorman  i am waiting for your response

[2020-12-06 13:50] JanGorman commented on #235
Can you share a bit more of the code that's causing this crash. Because this should not be a problem using `unowned` since the UIViewController that's shown will be retained. I gave it a quick try
[code]
And this works just fine

[2020-12-07 06:47] gouravideal commented on #235
Hello @JanGorman thanks for your response. but this solution not worked for me crash is going on after this... i use agrume code in my project like this. please suggest me for this crash solution. this crash not happen with [weak self] in your pod... please help me...

import Agrume
import AlamofireImage
import UIKit

extension UIViewController {
       func present(_ photo: PhotoContract, delegat

[2020-12-07 10:42] JanGorman commented on #235
I tried to replicate what you have, it still works. There must be something else going on. Just a suggestion, the way you're using `AlamofireImage` can be improved, accessing the downloader through the `UIImageView` extension is not exactly straightforward. Can you try your code in a standalone project

Here's my example:

[code]

[2020-12-25 03:31] phil-zZ commented on #236
is anybody there？

[2020-12-31 00:20] #236 closed

[2021-01-12 00:28] #235 closed

[2021-02-14 13:34] meme17sk opened #246 "The image is not centered"
I’m using Agrume to display an image on my swift application.
But the image is not centered. I have to click in order to bring it to the center.
It is located to the left and when I click it goes to the center.
I’m displaying a single image.
Could you please help me?
Thank you

[2021-02-15 15:18] meme17sk commented on #246
@JanGorman please help me to solve this issue. Thank you

[2021-02-15 15:48] JanGorman commented on #246
Can you shed some light on how you're using the library, what kind of image is showing, basically anything

As you may have seen the library ships with a sample project and when I run that locally it works fine: https://github.com/JanGorman/Agrume/blob/master/Example/Agrume%20Example/SingleImageViewController.swift

[2021-02-15 15:59] meme17sk commented on #246
@JanGorman

A button is connected to a function that will be called once the button is pressed. The function body contains:

@IBAction func openImage(_ sender: Any) {

{
let argume = Agrume(image: UIImage(named: "my_image")!, background: .blurred(.regular))
agrume.show(from: self)
}
}

The image is shown but it is located on the left, and when i click it will be located correctly on the center.

T

[2021-02-15 16:39] JanGorman commented on #246
Thanks for the additional detail. That looks like it should work. Could you share:
* iOS version
* iPhone or iPad
* Device in portrait or landscape mode
* The pixel dimensions of the image

I tried a number of combinations (portrait/landscape/square, iPhone/iPad) and they all worked fine. Could you also try to checkout the Agrume project and add the image to the Example project yourself to see if

[2021-02-15 17:00] meme17sk commented on #246
I'm running my app on: iPhone 11 pro max simulator on Xcode
in portrait position
image Dimensions : 4167 × 4202

[2021-02-15 17:49] JanGorman commented on #246
Thanks. So I gave it another try with an image the same size you're using and it looks fine to me. I would suggest to try to isolate the button into a fresh UIViewController with only the button and work backwards from there

![output](https://user-images.githubusercontent.com/138166/107979218-7c036a00-6fbe-11eb-9441-fa65624c9d8b.gif)

[2021-02-15 17:52] meme17sk commented on #246
@JanGorman thank you so much
I really appreciate your help

[2021-04-07 12:34] meme17sk commented on #246
I found out the problem

The image was not centered when the app language is not English
When I set the application language to Arabic, the image is not centered

But when the app language is English,the image is perfectly showing

Do you have any idea how to fix this issue?

[2021-04-07 12:37] meme17sk commented on #246
@JanGorman please check my last comment

Thanks

[2021-04-07 12:39] JanGorman commented on #246
Thanks @meme17sk – great detective work! I'll take a look with that extra information

[2021-04-19 00:03] #246 closed

[2022-03-04 20:22] lukeredpath opened #308 "Remove or update SwiftyGif submodule."
The SwiftyGif repo used to contain a lot of large snapshot test images which makes it *very* slow to install Agrume via SPM over a slow internet connection while Xcode clones the Agrume repo.

The submodule serves no purpose if you're using SPM, however if there is a reason for having this please consider bumping the commit that the submodule points at to a more recent version of SwiftyGif as the

[2022-03-08 10:25] JanGorman commented on #308
Thanks for the report! TBH I wasn't aware that SPM clones the submodule. The submodule really only is there for local development since the project supports CocoaPods and Carthage as well and I didn't want to rely on either for local development but it's probably time to revisit that decision. I'll try to get around to it in the coming days but of course you're welcome to submit a PR as well if it

[2022-04-11 11:50] JanGorman commented on #308
Updated in https://github.com/JanGorman/Agrume/releases/tag/5.8.1

[2022-04-11 11:50] #308 closed

[2022-04-11 13:23] lukeredpath commented on #308
@JanGorman thanks for updating this - just looking at this again and I'm not 100% sure this will fix the problem because I don't think submodules are shallow-cloned by default.

However git does support this by adding "shallow = true" to the gitmodules config, e.g.:

[code]

[2022-04-11 18:00] lukeredpath opened #314 "Latest version does not build in Release configuration"
I'm trying to update our app to use the latest version due to the SwiftyGif fix for #308.

Unfortunately this fails when building for release - the `AgrumeView.swift` file does not compile. I'm not sure why it compiles in Debug but not Release, but as far as I can see the problem is that Agrume still declares support for iOS 9.0 in the Package.swift file but SwiftUI does not exist before iOS 13. I

[2022-04-12 07:39] JanGorman commented on #314
I'm OK with dropping iOS 9 support 😅

[2022-05-05 12:42] lukeredpath commented on #314
Fixed by #315

[2022-05-05 12:42] #314 closed

[2022-06-24 17:36] ImaginativeShohag opened #323 "POD is not up-to-date with latest version!"
Please update the pod file to the latest version 5.8.3. Currently, the newest POD version is 5.8.0.

[2022-07-30 14:24] lukeredpath opened #326 "Unowned reference in AgrumeCell can cause crash"
https://github.com/JanGorman/Agrume/blob/dac5b02579de3879d5306b9130b272f99468571d/Agrume/AgrumeCell.swift#L178

This line uses an unowned reference to self, which can cause a crash if the cell is deallocated before the animation completes. Because the completion handler is a global reference that is not retained by the cell, using an unowned reference to self is incorrect here as it’s lifetime can

[2022-07-31 00:04] #323 closed

[2022-07-31 12:12] #326 closed

[2022-09-26 13:45] brainfuel opened #334 "Unknown attribute 'Binding' pod 5.8.4"
I can run my app with Agrume installed in the simulator and on device just fine. But when I try to archive I get "Unknown attribute 'Binding'" and 20 similar issues.

Target iOS 15

Any ideas?

[2022-09-26 13:57] JanGorman commented on #334
The `@Binding` is used here [AgrumeView.swift](https://github.com/JanGorman/Agrume/blob/1659fb8a707e075ae6ab8fda3fd89710b46c7208/Agrume/AgrumeView.swift) which correctly imports SwiftUI and has an `@available` annotation… If I had to guess it could be that the `s.platform` in the [podspec](https://github.com/JanGorman/Agrume/blob/master/Agrume.podspec) sets platform to iOS 9 (wow, so old) and that

[2022-10-03 04:57] ciathyza opened #335 "Variable binding in a condition requires an initializer"
Getting lots of these errors when trying to build example: Variable binding in a condition requires an initializer

[2022-10-03 07:38] JanGorman commented on #335
Sorry to hear that. Can you share a screenshot of the errors you're seeing? And which project did you open – the `Agrume.xcworkspace` is the file you should try when running the examples

[2022-10-05 06:53] Teglgaard commented on #335
Hi @ciathyza - We are not aware why the error came but were able to fix it by running the most common fix for issues with pods which is in terminal running "pod deintegrate && pod install"

[2022-10-05 13:38] Teglgaard commented on #335
Hi again,
We also noticed the bug was persistent on < XCode 14 so make sure to update.

[2022-10-05 14:20] JanGorman commented on #335
Ah, the Xcode 14 is a hint then… I recently updated to the newer guard/if let syntax, e.g. here https://github.com/JanGorman/Agrume/commit/cb527996d6f47024c48c4afb80a6db2869556263#diff-917789cb1a7245d59dc362605cc7a664f19ebbca3fdf46ce471380e53a9d6e2aR329

So anything lower than 5.8.5 should work fine with older versions of Xcode

[2022-11-01 00:04] #334 closed

[2022-11-02 07:02] idrenn opened #337 "StartIndex or CurrentIndex"
Hi Dear, Thank you for providing this wonderful library for image-viewer from local/remote sources.
I have a problem regarding the image's current index or start index while presenting to the viewer. It always starts from the first image even if I pass the 5th start index, here is my code

let agrume = Agrume(urls: imgUrls, startIndex: 5, background: .blurred(.light), dismissal: .withButton(button

[2022-11-10 00:04] #335 closed

[2022-11-13 13:27] JanGorman commented on #337
Hello,

Sorry to hear that this isn't working as intended. The example app includes an example of this use case:
https://github.com/JanGorman/Agrume/blob/master/Example/Agrume%20Example/MultipleURLsCollectionViewController.swift#L45

I tested that and it works fine.

The code you shared looks correct but without additional context it's a bit tough to see what could be going one. Could you share a